<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styles/style.css">
    
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script defer src="/scripts/profile.js"></script>


    <title>Profile</title>
</head>
<body>
    <!-- <section class="pos-f-t">
        <div  id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
            <div class="text-muted"><a href="/">Home</a></div>
            <div class="text-muted"><a href="/">Book Ocean</a></div>
            <div class="text-muted"><a href="/">Find a coffee shop</a></div>
            <div class="text-muted"><a id="logout" href="/logout">Log out</a></div>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </section> -->
    <div class="wrapper">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    Booffee
                </div>
                <div class="menu">
                    <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/booklist">Book Ocean</a></li>
                    <li><a href="#searchcafe">Find a coffee shop</a></li>
                    <li><a id="logout" href="#">Sign Out</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <h1>
        <div class="buttons">
            <div id="prev" class="round">
                <div>
                    <span class="glyphicon glyphicon-arrow-left"></span>

               </div>                
            </div>
        </div>  
        Books You Might Like
        <div class="buttons">
            <div id="next" class="round">
                <div>
                    <span class="glyphicon glyphicon-arrow-right"></span>
            </div>                
        </div>
    </h1>
    <section class="books">

        <div id="carousel">
    
            <div class="hideLeft">
            <img class="getinfo first-pic" src="https://i1.sndcdn.com/artworks-000165384395-rhrjdn-t500x500.jpg">
            </div>
    
            <div class="prevLeftSecond">
            <img class="getinfo second-pic" src="https://i1.sndcdn.com/artworks-000185743981-tuesoj-t500x500.jpg">
            </div>
    
            <div class="prev">
            <img class="getinfo third-pic" src="https://i1.sndcdn.com/artworks-000158708482-k160g1-t500x500.jpg">
            </div>
    
            <div class="selected">
            <img class="getinfo fourth-pic" src="https://i1.sndcdn.com/artworks-000062423439-lf7ll2-t500x500.jpg">
            </div>
    
            <div class="next">
            <img class="getinfo fifth-pic" src="https://i1.sndcdn.com/artworks-000028787381-1vad7y-t500x500.jpg">
            </div>
    
            <div class="nextRightSecond">
            <img class="getinfo sixth-pic" src="https://i1.sndcdn.com/artworks-000108468163-dp0b6y-t500x500.jpg">
            </div>
            
            <div class="hideRight">
            <img class="getinfo seventh-pic" src="https://i1.sndcdn.com/artworks-000064920701-xrez5z-t500x500.jpg">
            </div>
            
        </div>                          
    </section>
    <h1>
  
            Books You've read:
    
    </h1>
    <section class="books">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

               
                <div class="carousel-inner">
                  <div class="carousel-item active ">
                    <img class="getinfo d-block w-50" src="https://i1.sndcdn.com/artworks-000165384395-rhrjdn-t500x500.jpg"" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="getinfo d-block w-50" src="https://i1.sndcdn.com/artworks-000165384395-rhrjdn-t500x500.jpg"" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="getinfo d-block w-50" src="https://i1.sndcdn.com/artworks-000165384395-rhrjdn-t500x500.jpg"" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
    </section>

    <section class="books">

    </section>

    <h1>
        I want coffee...
    </h1>
    <section id="searchcafe" class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm">
                    <div id="test" class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input id="searchinfo" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Where am I? (e.g. San Francisco)">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <input class="btn btn-lg btn-success" type="submit" value="Search">
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
    </section>
    
     
    <div  class="row justify-content-center">      
    <!-- <iframe id="map" width="70%" height="200%" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=coffee+94040&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br /> -->
    <iframe id="map" width="600" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/search?q=coffee%20near%20MountainView&key=AIzaSyCPNBaefh5KaA5eWAmZvyl4-m7hqfOVnoE" allowfullscreen></iframe>
    <!-- Footer -->
  <footer class="footer">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4">
              <span class="copyright">Copyright &copy; Booffee 2019</span>
            </div>

            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                  <a href="#">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>





    



</body>
</html>