<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
		<!-- set viewport to device width to allow responsiveness -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- Custom CSS -->
		<!-- <link rel="stylesheet" href="styles/style.css"> -->
    <link rel="stylesheet" href="styles/booklist.css">

    <!-- JS -->
		<script
		src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous" defer></script>
		<script src="../scripts/booklist.js" defer></script>
		<script src="https://kit.fontawesome.com/4634847c36.js" defer></script>

		<title>BOOK LIST</title>
	</head>
	
	<body>
    <h1 class="text-center">BOOKZ</h1>
	  <div class="container">
			<div class="row">
				<div class="search-bar">
					<form class="form-inline">
						<input type="text" class="form-control book-input" name="q" value="" placeholder="Search Books">
						<input type="submit" value="GO!" class="btn btn-primary">
					</form>
				</div>
				<div class="book-gallery"></div>
			</div>
		</div>
  </body>
  

</html>
