<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
		<!-- set viewport to device width to allow responsiveness -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../styles/booklist.css">
		<link rel="stylesheet" href="../styles/style.css">

    <!-- JS -->
		<script src="http://code.jquery.com/jquery-3.3.1.min.js" defer></script>
    <script src="../scripts/booklist.js" defer></script>

		<title>BOOK LIST</title>

	</head>
	<body>
    <h1 class="text-center">BOOKZ</h1>
	  	<div class="container">
			<div class="row">
				<div class="search-bar">
					<form class="form-inline">
						<input type="text" class="form-control book-input" name="q" value="" placeholder="search books">
						<input type="submit" value="Go!" class="btn btn-primary">
					</form>
				</div>
					<div class="book-gallery"></div>
<!-- 					<button class="load">Load More</button> -->
			</div>
		</div>
  </body>
  

</html>
